<div id="content">
    <div id="leftcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h2>Contact the <span>DelliStore!</span></h2>
                <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condimentum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec, blandit elementum, diam. Proin pharetra odio eu lectus sollicitudin ultricies.</p>
                <form id="contact-form" action="#">
                    <fieldset>
                        <ul>
                            <li>
                                <label>Full Name <span>*</span></label>
                                <input type="text" value="{{name}}" />
                            </li>
                            <li>
                                <label>Email Address <span>*</span></label>
                                <input type="text" value="{{email}}" />
                            </li>
                            <li>
                                <label>Your Message  <span>*</span></label>
                                <textarea cols="50" rows="5">{{message}}</textarea>
                            </li>
                            <li class="submit">
                                <p><span>*</span> These are required fields</p>
                                <input type="submit" value="Send Message"/>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
    <div id="rightcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3>The <span>Store!</span></h3>
                <ul>
                    <li><a href="#">The History</a></li>
                    <li><a href="#">Meet The Staff</a></li>
                    <li><a href="#">Contacting Us</a></li>
                    <li><a href="#">Hours of Operation</a></li>
                </ul>
            </div>
            <div class="block-bottom"></div>
        </div>
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3><span>Get it Free!</span></h3>
                <div class="free-cake">
                    <img src="assets/media/images/img-cake-small.jpg" alt="Cake" />
                    <p>Get Your <strong>FREE Cake!</strong></p>
                    <a class="yellow-button"><span>Get It!</span></a>
                </div>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
</div>