<div id="content">
    <div id="leftcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h2>What the <span>DelliStore</span> can provide!</h2>
                <p>Proin pharetra odio eu lectus sollicitudin ultricies. Suspendisse turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti.</p>
                <div class="links">
                    <ul>
                        <li><a href="#">The History</a></li>
                        <li><a href="#">Meet The Staff</a></li>
                        <li><a href="#">Contacting Us</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">The History</a></li>
                        <li><a href="#">Meet The Staff</a></li>
                        <li><a href="#">Contacting Us</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">The History</a></li>
                        <li><a href="#">Meet The Staff</a></li>
                        <li><a href="#">Contacting Us</a></li>
                    </ul>
                </div>
                <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condime ntum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec.</p>
                <div class="clear">
                    <div class="image-left border-left-top">
                        <div class="border-right-top">
                            <div class="border-left-bottom">
                                <div class="border-right-bottom">
                                    <img src="assets/media/images/img-interier-small.jpg" alt="Interier" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, la cinia eu, tristique condime ntum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec, blandit leme ntum, diam. Proin pharetra odio eu lectus sollicitudin ultricies. Suspendisse turpis. Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Suspendisse potenti.</p>
                </div>
                <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condime ntum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec.</p>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
    <div id="rightcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3>Our <span>Specials!</span></h3>
                <ul>
                    <li><a href="#">Burger</a><strong>$4.99</strong></li>
                    <li><a href="#">Chicken Wings</a><strong>$5.99</strong></li>
                </ul>
                <a href="#/menu/" class="yellow-button"><span>See Menu</span></a>
            </div>
            <div class="block-bottom"></div>
        </div>
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3><span>Sign Up!</span></h3>
                <form id="signup-form" action="#">
                    <fieldset>
                        <label>Email Address</label>
                        <input type="text" />
                        <input class="submit" type="submit" value="Sing Up!" />
                    </fieldset>
                </form>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
</div>