<li>
    <div class="view">
        <input class="toggle js-markComplete" type="checkbox">
        <label class="js-editTodo">{{text}}</label>
        <button class="destroy js-removeTodo"></button>
    </div>
    <input class="edit js-itemText" value="{{text}}">
</li>