.*.swp
.DS_Store
._.DS_Store
.idea/*
.tmp/
build-reports/
node_modules/
npm-debug.log
tools/node/
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
bower_components
.bower.json
.lock-wscript
ts/**/*.js
