<div class="modal">
    <div class="modal-underlay js-modal-underlay"></div>
    <div class="modal-inner modal-inner_md js-modal-content">
        <button type="button" class="modal-inner-close js-modal-close">
            <span class="icon icon_remove">
                <svg class="icon-inner">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-inner-remove"></use>
                </svg>
            </span>
        </button>
        <div class="dialog" tabindex="-1" role="alertdialog" aria-labelledby="dialog-hd" aria-describedby="dialog-bd" aria-live="assertive">
            <div class="dialog-hd" id="dialog-hd">
                {{{title}}}
            </div>
            <div class="dialog-bd" id="dialog-bd">
                {{{body}}}
            </div>
            <div class="dialog-ft">
                <div class="split split_equally">
                    {{#if rejectBtn}}
                    <button type="button" class="btn js-modal-reject">{{{rejectBtn}}}</button>
                    {{/if}}
                    <button type="button" class="btn js-modal-accept">{{{acceptBtn}}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
