<div id="content">
    <div id="leftcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h2>Welcome to the <span>DelliStore!</span></h2>
                <p>
                    <img class="cake" src="assets/media/images/img-cake.jpg" alt="Cake" />
                    liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condimentum, magna. Aliquam augue dolor,
                    tempus sit amet, pharetra nec, blandit elementum, diam. Proin pharetra odio eu lectus sollicitudin ultricies. Suspend<br />
                    isse turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti.</p>
                <a class="yellow-button" href="#"><span>Learn More</span></a>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
    <div id="rightcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3>Our <span>Specials!</span></h3>
                <ul>
                    <li><a href="#">Burger</a><strong>$4.99</strong></li>
                    <li><a href="#">Chicken Wings</a><strong>$5.99</strong></li>
                    <li><a href="#">French Fries</a><strong>$4.99</strong></li>
                    <li><a href="#">Large Pizza</a><strong>$12.99</strong></li>
                </ul>
                <a href="#/menu/" class="yellow-button"><span>See Menu</span></a>
            </div>
            <div class="block-bottom"></div>
        </div>


    </div>
</div>