<div id="content">
<div id="leftcol">
<div class="block">
<div class="block-top"></div>
<div class="block-content">
<h2>The <span>DelliStore</span> Menu</h2>

<p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condimentum,
    magna. Aliquam augue dolor, tempus sit amet, pharetra nec, blandit elementum, diam. Proin pharetra odio
    eu lectus sollicitudin ultricies.</p>

<div class="container">
<!-- ********** content *********** -->

<div class="sixteen columns"><h3 class="menu_category">Appetizer</h3></div>
<div class="menu-list">
    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/soup-150x150.jpg"
               rel="prettyPhoto" title="Vegetable Salad">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/rice-150x150.jpg"

                    alt="green salad in a white bowl"
                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$3</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/vegetable-salad/"><h4>
                Vegetable Salad</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/straw-150x150.jpg"
               rel="prettyPhoto" title="Fruit Salad">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/straw-150x150.jpg"

                    alt="2487119416_62ec18c180_b"
                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$3</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/fruit-salad/"><h4>Fruit
                Salad</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
<div class="sixteen columns"><h3 class="menu_category">Main Dishes</h3></div>
<div class="menu-list">
    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/vegetarian-pizza-s-150x150.jpg"
               rel="prettyPhoto" title="Vegetable Pizza">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/vegetarian-pizza-s-150x150.jpg"

                    alt="Vegetarian Pizza"></a>
        </div>
        <div class="menu-info">
            <div class="price">$15</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/vegetable-pizza/"><h4>
                Vegetable Pizza</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="http://lezzatos.themenesia.com/wp-content/uploads/2013/04/6860835107_215ae9f39f_b.jpg"
               rel="prettyPhoto" title="Canadian Pizza">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/pizza-150x150.jpg"

                    alt="6860835107_215ae9f39f_b"
                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$15</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/canadian-pizza/"><h4>
                Canadian Pizza</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/pie-150x150.jpg"
               rel="prettyPhoto" title="American Pizza">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/pie-150x150.jpg"

                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$15</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/american-pizza/"><h4>
                American Pizza</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="http://lezzatos.themenesia.com/wp-content/uploads/2013/04/2368472328_d0be0cdcbc_b.jpg"
               rel="prettyPhoto" title="Italian Pizza">
                <span class="rollover"></span><img
                    src="http://lezzatos.themenesia.com/wp-content/uploads/2013/04/2368472328_d0be0cdcbc_b-150x150.jpg"

                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$15</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/italian-pizza/"><h4>
                Italian Pizza</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/canol-150x150.jpg"
               rel="prettyPhoto" title="Special Ramen">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/canol-150x150.jpg">

            </a>
        </div>
        <div class="menu-info">
            <div class="price">$12</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/special-ramen/"><h4>
                Special Ramen</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/rice-150x150.jpg"
               rel="prettyPhoto" title="Ramen">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/rice-150x150.jpg"

                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$8</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/ramen/"><h4>Ramen</h4>
            </a>

            <p>Ramen is a Japanese noodle dish. It consists of Chinese-style wheat noodles served in a
                meat or fish-based broth, often flavored with soy sauce…</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
<div class="sixteen columns"><h3 class="menu_category">Desserts</h3></div>
<div class="menu-list">
    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/pie-150x150.jpg"
               rel="prettyPhoto" title="Waffle">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/pie-150x150.jpg"

                    ></a>
        </div>
        <div class="menu-info">
            <div class="price">$5</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/waffle/"><h4>Waffle</h4>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/cup-150x150.jpg"
               rel="prettyPhoto" title="Muffin Cakes">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/cup-150x150.jpg"

                    alt="6347253194_05740e7f04_b"></a>
        </div>
        <div class="menu-info">
            <div class="price">$4</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/muffin-cake/"><h4>Muffin
                Cakes</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/banana-150x150.jpg"
               rel="prettyPhoto" title="Banana Split">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/banana-150x150.jpg"

                    alt="3875309388_9d7fd6e2ca_b"></a>
        </div>
        <div class="menu-info">
            <div class="price">$6</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/banana-split/"><h4>
                Banana Split</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/cust-150x150.jpg"
               rel="prettyPhoto" title="Cheese Cake">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/cust-150x150.jpg"

                    alt="2219761405_3d764749fe"></a>
        </div>
        <div class="menu-info">
            <div class="price">$2</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/cheese-cake/"><h4>Cheese
                Cake</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="menu-item eight columns gallery">
        <div class="pic_hover">
            <a class="image"
               href="assets/media/images/menu/sunday-150x150.jpg"
               rel="prettyPhoto" title="Chocolate Ice Cream">
                <span class="rollover"></span><img
                    src="assets/media/images/menu/sunday-150x150.jpg"

                    alt="5565047316_e52c962b6e_o"></a>
        </div>
        <div class="menu-info">
            <div class="price">$3</div>
            <a class="read_more_menu" href="http://lezzatos.themenesia.com/menu/chocolate-ice-cream/">
                <h4>Chocolate Ice Cream</h4></a>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
</div>
</div>
<div class="block-bottom"></div>
</div>
</div>
<div id="rightcol">
    <div class="block">
        <div class="block-top"></div>
        <div class="block-content">
            <h3>The <span>Store!</span></h3>
            <ul>
                <li><a href="#">The History</a></li>
                <li><a href="#">Meet The Staff</a></li>
                <li><a href="#">Contacting Us</a></li>
                <li><a href="#">Hours of Operation</a></li>
            </ul>
        </div>
        <div class="block-bottom"></div>
    </div>
</div>
</div>