/*csslint box-sizing: false, compatible-vendor-prefixes: false */
/* ---------------------------------------------------------------------
RESET CSS

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Utility
------------------------------------------------------------------------ */
.isVisuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

/* ---------------------------------------------------------------------
 Elements
------------------------------------------------------------------------ */
html, body {
    height: 100%;
    background-color: #aaaaaa;
}

select, button {
    font-size: 16px;
}

/* ---------------------------------------------------------------------
 Page
------------------------------------------------------------------------ */
.page {
    height: 100%;
}

.page-hd {
    padding: 20px 20px;
    background-color: #eeeeee;
}

.page-controls {
    border-bottom: 4px solid #aaaaaa;
    padding: 10px 20px;
    background-color: #dddddd;
}

.page-bd {
    height: auto;
    min-height: 100%;
    background-color: #ffffff;
}

/* ---------------------------------------------------------------------
 Media
------------------------------------------------------------------------ */
.media {
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.0;
}

.hdg_1 {
    font-size: 42px;
    font-weight: 700;
}

.hdg_2 {
    font-size: 32px;
    font-weight: 400;
}

/* ---------------------------------------------------------------------
 Text
------------------------------------------------------------------------ */
.text {
    font: 18px/1.33 Georgia, Times, "Times New Roman", serif;
    color: #000000;
}

.text_label {
    font-size: 21px;
}

.text_2 {
    font-size: 14px;
}

/* ---------------------------------------------------------------------
 Vertical List
------------------------------------------------------------------------ */
.vList {
}

.vList > * {
    padding: 20px 20px;
}

.mix-vList_shaded > *:nth-child(odd) {
    background-color: #dddddd;
}

.mix-vList_shaded > *,
.mix-vList_shaded > *:hover {
    -webkit-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}

.mix-vList_shaded > *:hover {
    background-color: #aaddff;
}

/* ---------------------------------------------------------------------
 Horizontal List
------------------------------------------------------------------------ */
.hList {
    font-size: 0;
}

.hList_spaced {
    margin-left: -10px;
}

.hList_spaced > * {
    margin-left: 10px;
}

.hList > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    font-size: medium;
}

/* ---------------------------------------------------------------------
 Ratings
------------------------------------------------------------------------ */
.ratings {
    font-size: 22px;
    border-radius: 22px;
    padding: 4px 12px;
    box-shadow: 0 0 2px #282828;
    color: #ffffff;
}

.mix-ratings_Rotten {
    background-color: #964b00;
}

.mix-ratings_Fresh {
    background-color: #006600;
}

.mix-ratings_CertifiedFresh {
    background-color: #00aa00;
}

.mix-ratings_Upright {
    background-color: #ee204d;
}

.mix-ratings_Spilled {
    background-color: #87410e;
}

.mix-ratings_Unknown {
    background-color: #000099;
}

/* ---------------------------------------------------------------------
 Movie
------------------------------------------------------------------------ */
.movie {
}

.movie-hd {
    margin-bottom: 15px;
}

.movie-meta {
    margin-bottom: 6px;
}

.movie-bd {
}

/* ---------------------------------------------------------------------
 Modal
------------------------------------------------------------------------ */
.modal {
    position: fixed;
    background-color: #929292;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.modal-inner {
    width: 40%;
    margin: 200px auto;
    border: 10px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #eeeeee;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-inner-hd {
    margin-bottom: 15px;
}

.modal-inner-bd {
}

/* ---------------------------------------------------------------------
 Shelf - Vertical Rhythm
------------------------------------------------------------------------ */
.shelf {
    margin-bottom: 15px;
}