<div class="modal">
    <div class="modal-inner">
        <div class="modal-inner-hd">
            <h1 class="hdg hdg_2">{{error}}</h1>
        </div>
        <div class="modal-inner-bd">
            <p class="text">There was an error loading the movies, please refresh your page and try again later.</p>
        </div>
    </div>
</div>
