<div id="footer">
    <p>©2009 The DelliStore. Design by <a href="http://www.dellustrations.com/templates.html">Dellustrations.com</a> for <a href="http://www.smashingmagazine.com">Smashing Magazine</a></p>
    <ul>
        <li><a href="#/" class="js-href">Home</a></li>
        <li><a href="#/menu/" class="js-href">Menu</a></li>
        <li><a href="#/about/" class="js-href">About Us</a></li>
        <li><a href="#/services/" class="js-href">Services</a></li>
        <li><a href="#/contact/" class="js-href">Contact Us</a></li>
    </ul>
</div>