body {
    margin: 0;
    padding: 0;
    background: #4b4a4a url(../media/images/ui/bg-body.png) repeat-x 0 0;
    font: 62.5%/1.4 Verdana, Tahoma, sans-serif;
}

img {
    border: none;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #90B094;
}

a:hover {
    text-decoration: none;
}

#pageWrapper {
    width: 942px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 0 45px;
    font-size: 1.2em;
}

/* header */

#header {
    width: 100%;
    height: 374px;
    overflow: hidden;
    background: url(../media/images/ui/bg-header-transparent.png) no-repeat 0 0;
}

#header .background {
    width: 100%;
    height: 374px;
    overflow: hidden;
    background: url(../media/images/ui/bg-header.jpg) no-repeat 27px 0;
}

h1 {
    margin: 0;
}

h1 a {
    width: 236px;
    height: 36px;
    margin: 15px 0 0 45px;
    float: left;
    background: url(../media/images/ui/bg-logo.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* navigation */

#header ul {
    float: right;
    margin: 15px 0 0;
    padding: 0 41px 0 0;
    list-style: none;
}

#header ul li {
    float: left;
    display: inline;
    height: 44px;
    margin: 0 0 0 10px;
    background: url(../media/images/ui/bg-nav-link.png) no-repeat 0 0;
}

#header ul li a {
    float: left;
    height: 29px;
    padding: 6px 10px 0 11px;
    font-size: 1.33em;
    font-weight: bold;
    text-decoration: none;
    color: #69644D;
    background: url(../media/images/ui/bg-nav-link-right.png) no-repeat 100% 0;
}

#header ul li a:hover {
    color: #AFBD76;
}

#header ul li.active {
    background: url(../media/images/ui/bg-nav-link-active.png) no-repeat 0 0;
}

#header ul li.active a,
#header ul li.active a:hover {
    height: 38px;
    color: #2D3C18;
    background: url(../media/images/ui/bg-nav-link-active-right.png) no-repeat 100% 0;
}

/* content */

#content {
    width: 100%;
    overflow: hidden;
    margin: 9px 0 0;
    color: #90AF94;
}

/* left column */

#leftcol {
    width: 634px;
    float: left;
    padding: 0 0 0 14px;

}

#leftcol .block {
    width: 100%;
    overflow: hidden;
    margin: 2px 0 0;
}

#leftcol .block .block-top {
    width: 100%;
    height: 33px;
    background: url(../media/images/ui/bg-leftblock-top.png) no-repeat 0 0;
}

#leftcol .block .block-content {
    width: 522px;
    overflow: hidden;
    padding: 15px 56px;
    background: url(../media/images/ui/bg-leftblock.png) repeat-y 0 0;
}

#leftcol .block .block-bottom {
    width: 100%;
    height: 33px;
    background: url(../media/images/ui/bg-leftblock-bottom.png) repeat-x 0 0;
}

#leftcol .block h2,
#rightcol .block h3 {
    margin: 0;
    padding: 0 0 4px;
    font: bold 2.09em 'Trebuchet MS', Arial, sans-serif;
    color: #A4C0A8;
    background: url(../media/images/ui/bg-h2.gif) repeat-x 0 100%;
}

#leftcol .block h2 span,
#rightcol .block h3 span {
    color: #C0D765;
}

#leftcol .block-content p {
    margin: 12px 0 0;
}

#leftcol .block-content p strong {
    color: #C0D766;
}

#leftcol .block-content img.cake {
    float: right;
    display: inline;
    margin: -6px -14px -11px 0;
}

#content a.yellow-button {
    float: left;
    color: #4A3915;
    font-weight: bold;
    text-decoration: none;
    margin: 14px 0 0;
    background: url(../media/images/ui/bg-yellow-button.png) no-repeat 0 0;
}

#content a.yellow-button span {
    float: left;
    height: 22px;
    padding: 5px 9px 0 10px;
    cursor: pointer;
    background: url(../media/images/ui/bg-yellow-button-right.png) no-repeat 100% 0;
}

#leftcol .block .clear {
    width: 100%;
    overflow: hidden;
    margin: 14px 0 0;
}

#leftcol .block .border-left-top {
    float: left;
    background: #213223 url(../media/images/ui/bg-border-left-top.gif) no-repeat 0 0;
}

#leftcol .block .border-right-top {
    float: left;
    background: url(../media/images/ui/bg-border-right-top.gif) no-repeat 100% 0;
}

#leftcol .block .border-left-bottom {
    float: left;
    background: url(../media/images/ui/bg-border-left-bottom.gif) no-repeat 0 100%;
}

#leftcol .block .border-right-bottom {
    float: left;
    padding: 5px;
    background: url(../media/images/ui/bg-border-right-bottom.gif) no-repeat 100% 100%;
}

#leftcol .block .border-left-top img {
    display: block;
}

#leftcol .block .image-left {
    margin: 2px 18px 0 0;
}

#leftcol .clear p {
    margin: 0;
}

#leftcol .links {
    width: 560px;
    margin: 0 -8px 0 18px;
    overflow: hidden;
    padding: 14px 0;
}

#leftcol .links ul {
    float: left;
    display: inline;
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#leftcol .links ul li {
    float: left;
    width: 100%;
    margin: 7px 0 0;
}

#leftcol .links ul li a {
    float: left;
    padding: 0 0 0 20px;
    color: #90B094;
    background: url(../media/images/ui/bg-link-bullet.png) no-repeat 0 4px;
}

#leftcol .links ul li a:hover {
    text-decoration: none;
}

#contact-form ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 0 12px;
    list-style: none;
}

#contact-form li {
    float: left;
    width: 100%;
    margin: 13px 0 0;
}

#contact-form label,
#signup-form label {
    float: left;
    width: 100%;
    padding: 0 0 3px;
    font-weight: bold;
}

#contact-form label span {
    color: #F47C2A;
}

#contact-form input,
#contact-form textarea,
#signup-form input {
    float: left;
    font: 1em Verdana, Tahoma, sans-serif;
    border: 0;
    color: #90AF94;
    background: #1C2B1E;
}

#contact-form input,
#signup-form input {
    width: 295px;
    margin: 0;
    padding: 6px 5px 5px;
    height: 17px;
}

#contact-form textarea {
    width: 380px;
    height: 85px;
    margin: 0;
    padding: 0 0 0 5px;
    background: #1C2B1E;
}

#contact-form li.submit {
    margin: 0;
}

#leftcol #contact-form p {
    margin: 0;
    float: left;
    font-size: 0.84em;
}

#leftcol #contact-form p span {
    font-size: 1.2em;
    font-weight: bold;
    color: #F47C2A;
}

#contact-form li.submit input,
#signup-form input.submit {
    float: right;
    width: 112px;
    height: 27px;
    padding: 0;
    margin: 6px 137px 0 0;
    font-weight: bold;
    color: #4A3915;
    background: url(../media/images/ui/bg-submit.png) no-repeat 0 0;
}

/* right column */

#rightcol {
    width: 276px;
    float: left;
    padding: 0 0 0 0px;
}

#rightcol .block {
    width: 100%;
    overflow: hidden;
    margin: 2px 0 0;
}

#rightcol .block .block-top {
    width: 100%;
    height: 33px;
    background: url(../media/images/ui/bg-rightblock-top.png) no-repeat 0 0;
}

#rightcol .block .block-content {
    width: 166px;
    overflow: hidden;
    padding: 15px 55px 20px;
    background: url(../media/images/ui/bg-rightblock.png) repeat-y 0 0;
}

#rightcol .block .block-bottom {
    width: 100%;
    height: 33px;
    background: url(../media/images/ui/bg-rightblock-bottom.png) repeat-x 0 0;
}

#rightcol ul {
    width: 100%;
    overflow: hidden;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    line-height: 1.42em;
}

#rightcol li {
    float: left;
    width: 100%;
    padding: 5px 0 6px;
    margin: 0 0 -1px;
    background: url(../media/images/ui/bg-h2.gif) repeat-x 0 100%;
}

#rightcol li a {
    float: left;
    color: #90AF94;
    text-decoration: none;
}

#rightcol li a:hover {
    color: #fff;
}

#rightcol li strong {
    float: right;
    color: #C0D765;
}

#signup-form {
    margin: 12px 0 0;
}

#signup-form input {
    width: 155px;
}

#signup-form input.submit {
    width: 72px;
    margin: 7px 0 0;
    padding: 0 0 1px;
    background: url(../media/images/ui/bg-submit-signup.png) no-repeat 0 0;
}

#rightcol .free-cake {
    width: 100%;
    overflow: hidden;
    margin: 9px 0 0;
}

#rightcol .free-cake img {
    float: left;
    margin: 0 17px 0 0;
}

#rightcol .free-cake p {
    float: left;
    margin: 0;
    font-weight: bold;
}

#rightcol .free-cake p strong {
    display: block;
    color: #D3EAD6;
}

#rightcol .free-cake a.yellow-button {
    margin: 11px 0 0;
}

/* footer */

#footer {
    width: 860px;
    overflow: hidden;
    margin: 12px 24px 0;
    padding: 16px 17px 14px;
    font-size: 0.84em;
    line-height: 1em;
    background: #333333;
    color: #8D8D8D;
}

#footer p {
    float: left;
    margin: 0;
    line-height: 1.1em;
}

#footer p a {
    color: #B3B3B3;
}

#footer ul {
    float: right;
    display: inline;
    overflow: hidden;
    margin: 0 -8px 0 0;
    padding: 0 0 3px;
    list-style: none;
}

#footer li {
    float: left;
    padding: 0 8px 0 7px;
    margin: 0 0 0 -1px;
    border-left: 1px solid #8D8D8D;
}

#footer ul a {
    color: #8D8D8D;
    position: relative;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* MENU */

.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item .price {
    position: static;
    float: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #CD1C1D;
    padding: 0 5px 0 5px;
    color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.menu-info {
    margin-left: 90px;
    margin-bottom: 30px;
}

.menu-item img {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.menu-info h4 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.menu-list {
    margin-bottom: 0px;
}

.menu_category {
    font-size: 22px;
    font-style: normal;
}
