<div id="content">
    <div id="leftcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h2>About the <span>DelliStore!</span></h2>
                <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condimentum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec, blandit elementum, diam. Proin pharetra odio eu lectus sollicitudin ultricies. Suspendisse turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti.</p>
                <div class="clear">
                    <div class="border-left-top">
                        <div class="border-right-top">
                            <div class="border-left-bottom">
                                <div class="border-right-bottom">
                                    <img src="assets/media/images/img-interier.jpg" alt="Interier" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condime ntum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec.liquam suscipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condime ntum, magna. Aliquam augue dolor, tempus sit amet, pharetra nec.liquam suscipit. liquam su scipit. <strong>Integer justo</strong> erat, bibendum sed, lacinia eu, tristique condime ntum, magna.</p>
            </div>
            <div class="block-bottom"></div>
        </div>


    </div>
    <div id="rightcol">
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3>The <span>Store!</span></h3>
                <ul>
                    <li><a href="#">The History</a></li>
                    <li><a href="#">Meet The Staff</a></li>
                    <li><a href="#">Contacting Us</a></li>
                </ul>
            </div>
            <div class="block-bottom"></div>
        </div>
        <div class="block">
            <div class="block-top"></div>
            <div class="block-content">
                <h3><span>Sign Up!</span></h3>
                <form id="signup-form" action="#">
                    <fieldset>
                        <label>Email Address</label>
                        <input type="text" />
                        <input class="submit" type="submit" value="Sing Up!" />
                    </fieldset>
                </form>
            </div>
            <div class="block-bottom"></div>
        </div>
    </div>
</div>