{% include bootstrap-header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div style="display:table">
                    <!--<img src="" style="max-height: 300px;border: none;float: left;margin-right: 30px;"/>-->
                <div style="display: table-cell;vertical-align: middle;">
                    <h1>StructureJS</h1>
                    <p>StructureJS is a collection of classes that can be used independently or in a workflow to create JavaScript applications.</p>
                    <!--<p><a class="btn btn-primary btn-lg" style="background-color: transparent;color: #00A1E1;margin-top: 8px;" href="create-project.html" role="button">Start</a></p>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f4f4f4;margin-top: -30px;border-bottom: solid 1px #ddd;padding:12px 0 6px 0;margin-bottom:30px;">
    <div class="container">
        <div class="row" style="text-align: center">
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

{% include bootstrap-footer.html %}
