/* ---------------------------------------------------------------------
Target Browsers: All
Media Type: Screen, Projection
Width: >= 500px
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Media
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media_spaced > .media-img {
    margin-right: 20px;
}

.media-img {
    float: left;
}

.media-bd {
    overflow: hidden;
}
