/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
  background-color: #666; }

.simonApp {
  width: 400px;
  margin: 0 auto; }

.simonApp h1 {
  text-align: center;
  font-size: 3em;
  padding: .2em 0 0 0;
  margin: 0; }

.pad.red {
  /*left:15px;*/
  /*top:15px;*/
  background: red;
  border-radius: 320px 20px 20px; }

.pad.green {
  /*right:15px;*/
  /*top:15px;*/
  background: lime;
  border-radius: 20px 320px 20px 20px; }

.pad.yellow {
  /*bottom:15px;*/
  /*right:15px;*/
  background: yellow;
  border-radius: 20px 20px 320px 20px; }

.pad.blue {
  /*bottom:15px;*/
  /*left:15px;*/
  background: blue;
  border-radius: 20px 20px 20px 320px; }

.simonApp-device {
  position: relative;
  border-radius: 50%;
  width: 390px;
  height: 390px;
  padding-left: 20px;
  padding-top: 15px;
  background: #000;
  background: black;
  background: linear-gradient(45deg, black 0%, #1c242d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000',endColorstr='#1c242d',GradientType=1 ); }

.simonApp-device::before {
  content: ' ';
  left: 50%;
  top: 50%;
  border-radius: 85px;
  position: absolute;
  display: block;
  width: 170px;
  height: 170px;
  background: #000;
  z-index: 99;
  margin: -85px; }

.simonApp-device .display {
  font-family: 'Press Start 2P', cursive;
  font-size: 17px;
  line-height: 160%;
  position: absolute;
  cursor: pointer;
  display: block;
  background: white;
  background: radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#ededed',GradientType=1 );
  width: 120px;
  padding-top: 40px;
  /* dont remove */
  height: 80px;
  border-radius: 60px;
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: 100;
  margin: -60px; }

.pad {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  width: 180px;
  height: 180px;
  background: #141414;
  opacity: 0.5;
  transition: all 300ms ease; }

.pad.hover {
  opacity: 0.7; }

.pad.active {
  opacity: 1; }
/*# sourceMappingURL=modern.css.map */